body {
	margin-top: 5px;
	margin-left: 3px;	
}
.main {
	min-height: 960px;
	background: transparent;
	margin-left: 35px;
	margin-right: 0;
	padding: 0;
	display: flex;
	flex-wrap: wrap;
	position: relative;
	float: left;
}
.menu {
	width: 500px;
	margin-right: 250px;
	float: right;
	font-family: 'Roboto', sans-serif;
}
.canvas-container {
	position: absolute !important;
}

.buttons {
	width: 100%;
}
#file {
	display: inline-block;
	width: 0.1px;
	height: 0.1px;
	opacity: 0;
	overflow: hidden;
	position: absolute;
	z-index: -1;
}
#file + label {
	float: left;
	display: inline-block;
	padding: 10px;
	padding-left: 35px;
	padding-right: 10px;
    font-size: 1em;
    font-weight: 500;
    color: white;
    background: url('../img/upload.png'), url('../img/button-bg.jpg');
    background-position: 3% center, 50% 50%;
    background-repeat: no-repeat, no-repeat;
    display: inline-block;
    border: 1px solid #000;
    text-shadow: 1px 0 5px #000;
}

#file:focus + label,
#file + label:hover {
    box-shadow: 0px 0px 5px #000;
}
#file + label {
	cursor: pointer;
}

.export {
	float: right;
	display: inline-block;
	padding: 10px;
	padding-left: 35px;
	padding-right: 35px;
    font-size: 1em;
    font-weight: 700;
    color: white;
    background: url('../img/spekr-button.jpg');
    background-position: 50% 50%;
    background-repeat:no-repeat;
    display: inline-block;
    background-size: 100%;
    border: 1px solid #000;
    text-shadow: 1px 0 5px #440000;
    min-height: 41px;
    margin-left: 5px;
}

.export:hover {
	cursor: pointer;
	box-shadow: 0px 0px 5px #000;
}
.buttons::after {
	display: block;
	content: ' ';
	clear: both;
}

.donate {
	margin-top: 10px;
}
.ads {
	margin-top: 10px;	
	height: 200px;
	width: 100%;
}
.copyright {
	font-size: 0.66em;
	height: 30px;
	width: 100%;	
	background-color: #fefefe;
}
.copyright a {
	color: #dfc5de;
}
.copyright a:hover {
	color: #efb5ce;
}

@media screen and (max-width: 1599px)  {
	
	// .main {
	// 	transform: scale(0.66, 0.66);
	// 	height: 600px;
	// 	margin-top: 0;
	// }
	.main {
		margin-top: 50px;
	}
	.main, .menu {
		display: block;
		float: none;
		margin-left: auto;
		margin-right: auto;
	}
	.buttons {
		position: absolute;
		left: 0;
		top: 3px;
		margin:5px;
	}
}